<%# <h1>Foods#index</h1> %>
<% binding.pry%>
<ul>
<% @foods.each do |f| %>
  <li><%= display_truck(f) %> - <%= link_to f.name, truck_food_path(f) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Food", new_truck_food_path %>
